
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.text h2{
    margin-top: 25px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #2C7CF4;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
}

.grupo{
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
    flex-direction: row;
}

.sessao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-sessao{
    justify-content: center;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #2C7CF4;
    padding: 10px;
    border-radius: 15px;
    width: 150px;
    font-size: 25px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.text02-sessao{
    width: 150px;
    font-size: 25px;
    text-align: justify;
}

.icons img{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 5rem;
}
.icons span{
    width: 250px;
    height: 50px;
    border-radius: 5px;
    background: #2C7CF4;
    
}
.icons p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    display: flex;
    width: 196px;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    margin: 0;
    text-align: center;
}
.button {
    display: flex;
    width: 248px;
    padding: 15px 1px 14px 1px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border-radius: 12px;
    background: #2C7CF4;
    box-shadow: 0px 4px 4px 0px rgba(185, 163, 163, 0.25);
    animation: alternate;
}

.button:hover{
    transition: .5s;
    background: #2563c0;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: larger;
    display: flex;
    align-items: center;
}

.button p {
    margin: 0;
    font-weight: 700;
}

.button img.seta {
    width: 20px;
    height: auto;
    margin-left: 8px;
}
footer{
    width: 100%;
    height: 50%;
    background-color: black;
}
.text-footer{
    font-family: 'Inter', sans-serif;
    color: #fff;
}